<main class="main">
    <div class="section-1">
        <div class="img">
            <img src="/img/blogimage2.jpg" alt="">
        </div>
        <div class="content">
            <h3>Your Voice, Your Platform: Start Blogging Today!"</h3>
            <p>
                Unleash your creativity, share your stories, and inspire others with our blogging feature. Whether it's wellness tips, success stories, or personal anecdotes, your words have the power to ignite change. Join our community of storytellers and let your voice be heard!
            </p>
            <div>
                <a href="/blogs">EXPLORE <span>&rarr;</span></a>
            </div>
        </div>
    </div>

    <div class="section-2">
        <div class="image">
            <img src="/img/fattofit2.jpg" alt="">
        </div>
        <div class="content">
            <div>
                <h3>Know Your Numbers, Own Your Health !</h3>
                <p>
                    Curious about your health status? Our BMI calculator provides instant insights into your body
                    composition. Take the first step towards a healthier lifestyle today - knowledge is power!
                </p>
            </div>
            <div>
                <div>
                    <a href="/bmi">CHECK OUT <span>&rarr;</span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="slideshow-container">
        <div class="thumbnail">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
        </div>

        <div class="slides">
            <div class="mySlides fade">
                <div class="content">
                    <div class="first" id="null">
                        <div>
                            <h3>
                                Transform Your Body, Shed Pounds, Gain Confidence !
                            </h3> <br>
                            <p>
                                Ready to embark on your weight loss journey? Join our program today and unlock the
                                secrets to sustainable weight loss. Say hello to a healthier, happier you!
                            </p>
                        </div>
                        <div>
                            <a href="#null">CHECK OUT <span>&rarr;</span></a>
                        </div>
                    </div>
                    <video src="/video/looseWeight.mp4" muted loop autoplay></video>
                </div>
            </div>

            <div class="mySlides fade">
                <div class="content">
                    <div class="first" id="null1">
                        <div>
                            <h3>
                                Build Muscle, Sculpt Your Physique, Unleash Your Strength!
                            </h3> <br>
                            <p>
                                Unlock your full potential and sculpt your dream physique with our muscle gain program.
                                Start your journey today and witness the incredible transformation firsthand !
                            </p>
                        </div>
                        <div>
                            <a href="#null1">CHECK OUT <span>&rarr;</span></a>
                        </div>
                    </div>
                    <video src="/video/gainWeight.mp4" muted loop autoplay></video>
                </div>
            </div>
        </div>
    </div>



</main>