<main class="main">
    <div class="hero">
        <video src="/video/hero1.mp4" muted loop ></video>
    </div>


    <div class="cta">
        <h1>Get started with us today.</h1>
        <p>Join our community and start improving your health and social well-being.</p>
        <a href="/signup">Sign Up <span>&rarr;</span></a>
    </div>
</main>

<script src="/js/index.js"></script>