<footer class="footer">
    <div class="footer-content">
        <div class="footer-logo">
            <h1>Health-Connect</h1>
        </div>
        <div class="columns">
            <ul>
                <li><strong>MENU</strong></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/blogs">Blogs</a></li>
                <li><a href="#">Community</a></li>
                <li><a href="#">Help</a></li>
            </ul>
            <ul>
                <li><strong>LEGAL INFO</strong></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Cookie Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
            </ul>
            <div class="socials">
                <div>
                    <strong>CONNECT</strong>
                </div>
                <div>
                    <ul class="links">
                        <li><a href="#"><img src="/svg/fb.svg" alt=""></a></li>
                        <li><a href="#"><img src="/svg/insta.svg" alt=""></a></li>
                        <li><a href="#"><img src="/svg/x.svg" alt=""></a></li>
                        <li><a href="#"><img src="/svg/wa.svg" alt=""></a></li>
                        <li><a href="#"><img src="/svg/linkedin.svg" alt=""></a></li>
                        <li><a href="#"><img src="/svg/github.svg" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="info">
            &copy; 2024 Health-Connect. All rights reserved.
        </div>
</footer>